body {
	background-color: #a6a6a6;
}

header {
	height: 65px;
	background-color: #d9d9d9;
	border: 1px solid #cccccc;
}

header nav {
	margin-right: -12px;
}

header a {
	position: relative;
	top: 21px;
	padding: 23.5px 12px 23.5px 12px;
	text-decoration: none;
	color: black;
	border: 1px solid #cccccc;
	background-color: #d9d9d9;
	margin-left: 8.5px;
	margin-right: -16px;
}

/*
header a:hover {
	background-color: #cccccc;
	text-decoration: none;
	color: black;
}*/

footer {
	background-color: #d9d9d9;
	padding-top: 12px;
	padding-bottom: 12px;
	border: 1px solid #cccccc;
	margin-top: -2px;
}

#play_button {
	color: #ffffff;
	font-size: 72px;
	font-weight: bold;
	z-index: 1;
	background-color: #000000;
	margin-top: 20px;
}

#play_button h1 {
	font-size: 156px;
	color: #ffffff;
}

#title_box {
	padding-left: 60px;
	padding-top: 200px;
	padding-bottom: 200px;

}

#middle {
	margin-top: -1px;
}

section {
	background-color: #f2f2f2;
	font-size: 18px;
	border: 1px solid #cccccc;
}

#rules {
	/*padding: 12px;
	background-color: #bfbfbf;*/
	display: none;

}

#buttons {
	margin-top: 20px;
	margin-bottom: 20px;
}

#rules, #rules_button {
	border: 1px solid #cccccc;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 12px;
}

#rules_button {
	/*display: block;*/
	font-style: italic;
	font-weight: lighter;
}

/*
#rules_button:hover {

	background-color: #f2f2f2;
	text-decoration: none;
	color: black;
}

#footer:hover {

	background-color: #f2f2f2;
	text-decoration: none;
	color: black;
}*/

a, a:visited, a:link, a:active, #rules_button h3, #rules_button h3:visited {
	color: #000000;
	text-decoration: none;

}

a:hover, #rules_button:hover, #footer:hover, header a:hover  {

	background-color: #cccccc;
	text-decoration: none;
	color: #000000;
}

/*Styles for all game-related elements*/

#checkerboard {
	max-width: 90vh;
	max-height: 90vh;
	margin: auto;
}

.board-space {
	width: auto;
	height: auto;
	max-width: 12.5%;
	max-height: 12.5%;
	float: left;
}

.possible-move {
	cursor: pointer;
}
.player-token {
	cursor: pointer;
}

#popup {
	display: none;
	position: absolute;
	width: 50%;
	height: 20%;
	left: 25%;
	top: 40%;
	background: white;
	text-align: center;
}
